set_io clk 29
set_io port[0] 1
set_io port[1] 2
set_io port[2] 5
set_io port[3] 6
set_io port[4] 7
set_io port[5] 8
set_io port[6] 18
set_io port[7] 19
set_io port[8] 20
set_io port[9] 22
set_io port[10] 23
set_io port[11] 26
set_io port[12] 27
set_io port[13] 30
set_io port[14] 31
set_io port[15] 32
set_frequency clk 20