IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "port[0]" 25;
IO_PORT "port[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "port[1]" 26;
IO_PORT "port[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "port[2]" 27;
IO_PORT "port[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "port[3]" 28;
IO_PORT "port[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "port[4]" 29;
IO_PORT "port[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "port[5]" 30;
IO_PORT "port[5]" DRIVE=8 IO_TYPE=LVCMOS33;


IO_LOC  "port[6]" 33;
IO_PORT "port[6]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "port[7]" 34;
IO_PORT "port[7]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "port[8]" 40;
IO_PORT "port[8]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "port[9]" 35;
IO_PORT "port[9]" DRIVE=8 IO_TYPE=LVCMOS33;


IO_LOC  "port[10]" 41;
IO_PORT "port[10]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "port[11]" 42;
IO_PORT "port[11]" DRIVE=8 IO_TYPE=LVCMOS33;


IO_LOC  "port[12]" 51;
IO_PORT "port[12]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "port[13]" 53;
IO_PORT "port[13]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "port[14]" 54;
IO_PORT "port[14]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "port[15]" 55;
IO_PORT "port[15]" DRIVE=8 IO_TYPE=LVCMOS33;
