IO_LOC  "WRn" 42;
IO_PORT "WRn" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "address[1]" 38;
IO_PORT "address[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "address[0]" 39;
IO_PORT "address[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "data[7]" 10;
IO_PORT "data[7]" IO_TYPE=LVCMOS33;

IO_LOC  "data[6]" 9;
IO_PORT "data[6]" IO_TYPE=LVCMOS33;

IO_LOC  "data[5]" 11;
IO_PORT "data[5]" IO_TYPE=LVCMOS33;

IO_LOC  "data[4]" 46;
IO_PORT "data[4]" IO_TYPE=LVCMOS33;

IO_LOC  "data[3]" 45;
IO_PORT "data[3]" IO_TYPE=LVCMOS33;

IO_LOC  "data[2]" 13;
IO_PORT "data[2]" IO_TYPE=LVCMOS33;

IO_LOC  "data[1]" 40;
IO_PORT "data[1]" IO_TYPE=LVCMOS33;

IO_LOC  "data[0]" 41;
IO_PORT "data[0]" IO_TYPE=LVCMOS33;

IO_LOC  "XTAL_IN" 47;
IO_PORT "XTAL_IN" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_B[4]" 24;
IO_PORT "LCD_B[4]" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_B[3]" 23;
IO_PORT "LCD_B[3]" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_B[2]" 22;
IO_PORT "LCD_B[2]" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_B[1]" 20;
IO_PORT "LCD_B[1]" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_B[0]" 19;
IO_PORT "LCD_B[0]" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_G[5]" 18;
IO_PORT "LCD_G[5]" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_G[4]" 17;
IO_PORT "LCD_G[4]" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_G[3]" 16;
IO_PORT "LCD_G[3]" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_G[2]" 15;
IO_PORT "LCD_G[2]" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_G[1]" 27;
IO_PORT "LCD_G[1]" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_G[0]" 28;
IO_PORT "LCD_G[0]" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_R[4]" 29;
IO_PORT "LCD_R[4]" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_R[3]" 30;
IO_PORT "LCD_R[3]" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_R[2]" 31;
IO_PORT "LCD_R[2]" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_R[1]" 34;
IO_PORT "LCD_R[1]" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_R[0]" 35;
IO_PORT "LCD_R[0]" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_DEN" 21;
IO_PORT "LCD_DEN" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_SYNC" 32;
IO_PORT "LCD_SYNC" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_HYNC" 33;
IO_PORT "LCD_HYNC" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_CLK" 8;
IO_PORT "LCD_CLK" DRIVE=12 IO_TYPE=LVCMOS33 PULL_MODE=UP;
