IO_LOC  "address[2]" 20;
IO_PORT "address[2]" IO_TYPE=LVCMOS33;

IO_LOC  "address[1]" 19;
IO_PORT "address[1]" IO_TYPE=LVCMOS33;

IO_LOC  "address[0]" 29;
IO_PORT "address[0]" IO_TYPE=LVCMOS33;

IO_LOC  "data[7]" 28;
IO_PORT "data[7]" DRIVE=12 IO_TYPE=LVCMOS33;

IO_LOC  "data[6]" 27;
IO_PORT "data[6]" DRIVE=12 IO_TYPE=LVCMOS33;

IO_LOC  "data[5]" 15;
IO_PORT "data[5]" DRIVE=12 IO_TYPE=LVCMOS33;

IO_LOC  "data[4]" 16;
IO_PORT "data[4]" DRIVE=12 IO_TYPE=LVCMOS33;

IO_LOC  "data[3]" 17;
IO_PORT "data[3]" DRIVE=12 IO_TYPE=LVCMOS33;

IO_LOC  "data[2]" 18;
IO_PORT "data[2]" DRIVE=12 IO_TYPE=LVCMOS33;

IO_LOC  "data[1]" 22;
IO_PORT "data[1]" DRIVE=12 IO_TYPE=LVCMOS33;

IO_LOC  "data[0]" 23;
IO_PORT "data[0]" DRIVE=12 IO_TYPE=LVCMOS33;

IO_LOC  "RDn" 30;
IO_PORT "RDn" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "WRn" 31;
IO_PORT "WRn" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "clk" 47;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
