IO_LOC  "Address[3]" 38;
IO_PORT "Address[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Address[2]" 37;
IO_PORT "Address[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Address[1]" 36;
IO_PORT "Address[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Address[0]" 39;
IO_PORT "Address[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Data[7]" 25;
IO_PORT "Data[7]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Data[6]" 26;
IO_PORT "Data[6]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Data[5]" 27;
IO_PORT "Data[5]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Data[4]" 28;
IO_PORT "Data[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Data[3]" 29;
IO_PORT "Data[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Data[2]" 30;
IO_PORT "Data[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Data[1]" 33;
IO_PORT "Data[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Data[0]" 34;
IO_PORT "Data[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "RDn" 41;
IO_PORT "RDn" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "WRn" 42;
IO_PORT "WRn" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
