IO_LOC  "CLK27" 29;
IO_PORT "CLK27" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "CLK27div1000" 32;
IO_PORT "CLK27div1000" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "CLKdiv2" 30;
IO_PORT "CLKdiv2" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "CLKdiv2div1000" 31;
IO_PORT "CLKdiv2div1000" IO_TYPE=LVCMOS33 PULL_MODE=UP;
